<!DOCTYPE html>
<html>
<body>
<% for  @house in @houses %>
  <img src="<%= @house.image_url %>" >
  <p>Price: <%= @house.price %>, Beds: <%= @house.beds %>, Baths: <%= @house.baths %> <a href="<%= @house.link %>">link</a></p>
  <p>Address: <%= @house.address%>  </p>
<% end %>
</body>
</html>
